* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.bagian-kiri {
  flex: 1;
  background-color: #8d330c;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.bagian-kanan {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0 auto;
}

.logo img {
  margin-bottom: -25px;
  width: 120px;
}

.welcome {
  text-align: center;
}

.welcome h2 {
  font-size: 24px;
  margin: inherit;
  margin-bottom: 10px;
}

.welcome h3 {
  font-size: 20px;
  margin-bottom: -5px;
  text-align: center;
}

.kotak-input input {
  display: block;
  width: 100%;
  padding: 12px 18px;
  margin: 20px 0 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
}

.lupa-password {
  margin: 0;
  text-align: center;
}

.lupa-password a {
  color: #8d330c;
  font-size: 14px;
  text-decoration: none;
}

.tombol-masuk button {
  width: 100%;
  background-color: #8d330c;
  color: #fff;
  padding: 12px 18px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.tombol-masuk button {
  background-color: #8d330c;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.tombol-masuk button:hover {
  background-color: #8d330c;
}

.atau-masuk-dengan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #000;
  font-size: 14px;
}

.atau-masuk-dengan hr {
  border: 1px solid rgb(0 0 0);
  opacity: 0.7;
  margin-right: 4px;
  width: 100px;
}

.sosmed {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.sosmed img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.daftar {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.daftar a {
  color: #8d330c;
  text-decoration: none;
}
